<div data-controller="sticky-nav"
     data-result-reveal-target="actionButtons"
     data-sticky-nav-footer-selector-value="#global-footer"
     class="<%= nav_classes %>">

  <div class="container mx-auto px-4 py-4">
    <div class="flex flex-col sm:flex-row justify-center gap-4">

      <%= render Common::Button::Component.new(
            href: root_path,
            variant: :secondary,
            size: :lg,
            class: "w-full sm:w-auto"
          ) do %>
        <span>トップへ戻る</span>
      <% end %>

      <%= render Common::Button::Component.new(
            href: exams_path,
            variant: :primary,
            size: :lg,
            class: "w-full sm:w-auto hover:-translate-y-0.5 hover:shadow-lg"
          ) do %>
        <span>履歴一覧へ戻る</span>
        <%= helpers.inline_svg_tag "icons/right_arrow.svg", class: "w-5 h-5 ml-2", aria_hidden: true %>
      <% end %>

    </div>
  </div>
</div>
