<div data-result-reveal-target="actionButtons"
     class="<%= nav_classes %>">

  <div class="container mx-auto px-4 sm:px-6">

    <div class="flex flex-col sm:flex-row justify-center gap-4 pb-12">

      <%= render Common::Button::Component.new(
            href: root_path,
            variant: :secondary,
            size: :lg,
            class: "w-full sm:w-auto shadow-sm bg-white pointer-events-auto"
          ) do %>
        <span>トップへ戻る</span>
      <% end %>

      <%= render Common::Button::Component.new(
            href: exams_path,
            variant: :primary,
            size: :lg,
            class: "w-full sm:w-auto hover:-translate-y-0.5 hover:shadow-lg shadow-sm pointer-events-auto"
          ) do %>
        <span>履歴一覧へ戻る</span>
        <%= helpers.inline_svg_tag "icons/right_arrow.svg", class: "w-5 h-5 ml-2", aria_hidden: true %>
      <% end %>

    </div>
  </div>
</div>
