<% if object.errors.any? %>
  <div class="mb-6 bg-red-50 border-l-4 border-red-400 p-4 <%= local_assigns[:class]
 %>">
    <h2 class="font-semibold text-red-800 mb-2">
      <%= object.errors.count
 %>件のエラーがあります
    </h2>

    <ul class="list-disc list-inside text-red-700">
      <% object.errors.full_messages.each


 do |msg| %>
        <li><%= msg
 %></li>
      <% end %>
    </ul>
  </div>
<% end %>
