<div class="absolute top-0 right-0 w-full h-full pointer-events-none z-0">
  <div class="absolute top-0 right-[-25%] w-[70%] h-[120%] bg-gradient-to-bl from-blue-100 via-blue-50/80 to-transparent rounded-l-[40%] transform -rotate-6 scale-110 origin-top-right"></div>
</div>
