# <% require "dotenv" %>
# <% Dotenv.load(".kamal/secrets") if File.exist?(".kamal/secrets") %>

service: php8-study
image: sekito1107/php8-study-app

servers:
  web:
    - <%= ENV['SERVER_IP'] %>

proxy:
  ssl: true
  host: php-study.jp
  app_port: 3000
  healthcheck:
    interval: 5
    timeout: 90

registry:
  server: ghcr.io
  username: sekito1107
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  secret:
    - RAILS_MASTER_KEY
    - GITHUB_CLIENT_ID
    - GITHUB_CLIENT_SECRET

ssh:
  user: ubuntu
  keys: ["~/.ssh/github_ssh"]

builder:
  arch: amd64

volumes:
  - "php8_study_storage:/rails/storage"
