<% 
  is_user_selected = user_answer_ids.include?(choice.id)
  is_correct_choice = choice.correct?

  choice_class =  choice_class = choice_style_class(is_user_selected, is_correct_choice)
%>

<div class="p-3 rounded-lg border-2 <%= choice_class %> flex justify-between items-start transition-colors">
  <span class="text-md text-gray-700 font-medium mr-4">
    <%= choice.content %>
  </span>

  <div class="text-sm font-semibold whitespace-nowrap text-right">
    <% if is_correct_choice %>
      <span class="block text-green-600">【正解】</span>
    <% end %>
    
    <% if is_user_selected %>
      <span class="block text-indigo-600 mt-0.5">（あなたの選択）</span>
    <% end %>
  </div>
</div>
