<% title "試験問題" %>
<% noindex %>

<main class=" bg-slate-50 py-12 px-4 sm:px-6">
  <div class="max-w-3xl mx-auto space-y-8">

    <%= render ExamQuestions::Header::Component.new(
          exam: @exam,
          exam_question: @exam_question
        ) %>

    <%= render Common::TerminalDisplay::Component.new(
          body: @exam_question.question.content,
          label: "ExamQuestion_#{@exam_question.position}.php"
        ) %>

    <%= render Common::AnswerForm::Component.new(
          question: @exam_question.question,
          url: exam_exam_question_answer_path(@exam, @exam_question),
          method: :post,
          button_text: @exam_question.answered? ? "回答を変更する" : "回答する",
          input_name: "question_choice_ids[]",
          selected_choice_ids: @exam_question.user_choice_ids,
          guard_answer: true
        ) %>

    <%= render ExamQuestions::Navigation::Component.new(
          exam: @exam,
          exam_question: @exam_question
        ) %>

  </div>
</main>
