= turbo_frame_tag category do
  = form_with(model: [:admin, category], class: "contents") do |f|
    - if category.errors.any?
      .col-span-5.bg-red-100.text-red-800.p-2.rounded.mb-2
        h4.font-semibold = "#{category.errors.count}件のエラーがあります:"
        ul.list-disc.list-inside
          - category.errors.full_messages.each do |msg|
            li = msg

    .grid.items-center.px-4.py-4.rounded.border-2.border-blue-400.shadow-md class="grid-cols-[50px_350px_1fr_150px_120px]"

      span.ml-2
        = f.number_field :chapter_number, class: "border border-slate-300 rounded p-1 w-full text-center text-sm", required: true

      span.pl-2
        = f.text_field :name, class: "border border-slate-300 rounded p-1 w-full text-sm", required: true

      / レイアウト用のダミーdiv
      div

      .flex.items-center.gap-4.justify-end
        = f.number_field :weight, class: "border border-slate-300 rounded p-1 w-16 text-right text-sm", min: 0, max: 100, step: 0.1
        span.text-sm.text-slate-600.pr-2 %

      .flex.items-center.gap-3.justify-center
        = f.submit "保存", class: "text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 px-2 py-1 rounded cursor-pointer"

        = link_to "キャンセル", render_row_admin_category_path(category), data: { turbo_frame: dom_id(category) },
        class: "text-sm font-medium border border-red-400 text-red-600 hover:bg-red-50 hover:text-red-700 py-1 rounded transition-colors"
