@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Playfair+Display:wght@700&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .hero-card-tilt {
    transform: rotateY(-12deg) rotateZ(-3deg);
    transition: transform 0.3s ease-out
  }

  .hero-card-tilt:hover {
    transform: rotateY(-6deg) rotateZ(-1.5deg) scale(1.05);
  }
}
