<div id="loading-overlay" data-controller="auto-start" class="
  fixed inset-0 
  bg-black bg-opacity-70 
  flex flex-col items-center justify-center 
  z-50 text-white
">
  <%= link_to "試験を開始する", exams_path, 
      data: { 
          "auto-start-target": "startLink",
          "turbo-method": :post
      },
      class: "hidden" %>
</div>
