<div class="bg-white border border-slate-200 rounded-xl shadow-sm">
  <div class="p-6 sm:p-8">

    <header class="flex items-center gap-2 mb-4 select-none">
      <%= helpers.inline_svg_tag "icons/message-square.svg", class: "w-4 h-4 text-slate-400 'aria_hidden': true" %>
      <h3 class="text-sm font-bold text-indigo-500 uppercase tracking-wider">
        Explanation
      </h3>
    </header>

    <div class="text-slate-700 leading-relaxed">
      <%= @question.explanation %>
    </div>

  </div>
</div>
