<div class="bg-white border border-slate-200 rounded-xl shadow-sm">
  <div class="p-6 sm:p-8">

    <header class="flex items-center gap-2 mb-4 select-none">
      <%= helpers.inline_svg_tag "icons/message-square.svg", class: "w-4 h-4 text-slate-400  aria_hidden: true" %>
      <h2 class="text-ms font-bold text-indigo-400 uppercase">
        Explanation
      </h2>
    </header>

    <div class="text-slate-700 leading-relaxed">
      <%= MarkdownRenderer.render(@question.explanation) %>
    </div>

  </div>
</div>
