<footer class="bg-gray-100 shadow-sm <%= container_class
 %>">
  <div class="mx-auto px-6 py-6 flex items-center justify-between text-sm">
    <div class="flex items-center gap-6">
      <strong>PHP8技術者認定初級試験スタディ</strong>
      <%= link_to "利用規約", root_path, class: "hover:underline"
 %>
      <%= link_to "プライバシーポリシー", root_path, class: "hover:underline"
 %>
    </div>

    <div class="text-right">
      © <%= Time.current.year
 %> PHP8技術者認定初級試験スタディ
    </div>
  </div>
</footer>
