doctype html
html
  head
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  body.min-h-screen.flex.flex-col
    
    .page-content-wrapper.flex-1.flex.flex-col.bg-gradient-to-b.from-slate-100.to-slate-200 id="page-content"

      - if current_user
        = render "layouts/header"

      .max-w-screen-xl.mx-auto.w-full
        = render "layouts/flash"

      .main-content-wrapper.flex-1.w-full
        .max-w-screen-xl.mx-auto.w-full
          main
            = yield

      - if current_user
        = render "layouts/footer" 
    
    div id="modal-frame"
